:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --img-border: #00FF00;
}

* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
 
body {
  min-height: 88vh;
  display: grid;
  align-content: space-between;
  margin: 3%;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.box {
  display: grid;
  background-color: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5%;
}

/* >>> ASIDE <<< */

aside div {
  align-content: center;
}

aside .profile {
  justify-items: center;
  text-align: center;
}

aside .profile img {
  margin: 5% 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px var(--img-border);
}

aside .profile p {
  margin: 2% 0 5%;
  font-weight: lighter;
}

aside .social {
  margin: 5% 0;
}

aside .social ul {
  margin: 5%;
}

aside .social ul li {
  display: flex;
  column-gap: 2%;
  align-items: center;
  list-style-type: none;
}

aside .techs h2 {
  margin: 5%;
}

aside .techs div {
  margin: 0 5% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3%;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 3em;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

aside .techs div span {
  margin: 5%;
  background-color: var(--bg-techs);
  border-radius: 30px;
}

/* >>> SECTION <<< */

section div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

section div {
  padding: 1.5% 2%;
}

section div a {
  font-size: 1em;
}

/* >>> FOOTER <<< */

footer {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
} */