:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --img-border: #00FF00;
  --css: #563d7c;
  --html: #e34c26;
  --javascript: #f1e05a;
  --typescript: #2b7489;
  --nunjucks: #3d8137;
}

* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
 
body {
  min-height: 92vh;
  display: grid;
  grid-template-areas: "aside main"
                       "footer footer";
  grid-template-columns: 1fr 3fr;
  column-gap: 3%;
  margin: 1% 1% 0;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.box {
  display: grid;
  background-color: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}

/* >>> ASIDE <<< */

aside {
  grid-area: aside;
}

aside>div {
  padding: 10%;
  align-content: center;
}

aside .profile {
  justify-items: center;
  text-align: center;
}

aside .profile img {
  margin-bottom: 5%;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px var(--img-border);
}

aside .profile p {
  margin-top: 5%;
  font-weight: lighter;
}

aside .social {
  margin: 5% 0;
}

aside .social ul li {
  margin-bottom: 5%;
  display: flex;
  column-gap: 5%;
  align-items: center;
  list-style-type: none;
}

aside .social ul li:last-of-type {
  margin-bottom: 0;
}

aside .techs div {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3%;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 3em;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

aside .techs div span {
  margin: 5% 0;
  background-color: var(--bg-techs);
  border-radius: 30px;
}

/* >>> MAIN <<< */

main {
  grid-area: main;
}

main section>div {
  margin-bottom: 1.5%;
  padding: 3%;
}

main section .myProjects {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
  
main section div a {
  font-size: 1em;
}

main section .allProjects {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

main section .allProjects>div {
  padding: 6%;
}

main section .project>div {
  display: flex;
  margin-top: 2%;
}

main section .project .title {
  margin-top: 0;
  gap: 1%;
}

main section .project .statistics {
  align-items: center;
  justify-content: space-between;
}

main section .project .statistics div {
  display: flex;
  align-items: flex-end;
  gap: 5%;
}

main section .project .statistics div .projectStars {
  margin-right: 25%;
}

main section .project .statistics p {
  display: flex;
  align-items: center;
}

main section .project .statistics .tech::before {
  display: inline-block;
  content: '\2022';
  font-size: xxx-large;
}

main section .project .statistics .CSS::before {
  color: var(--css);
}

main section .project .statistics .JavaScript::before {
  color: var(--javascript);
}

main section .project .statistics .TypeScript::before {
  color: var(--typescript);
}

main section .project .statistics .HTML::before {
  color: var(--html);
}

main section .project .statistics .Nunjucks::before {
  color: var(--nunjucks);
}

main section .post {
  display: flex;
  column-gap: 2%;
}

main section .post img {
  border-radius: 50%;
}

main section .post>div {
  display: grid;
  gap: 25%;
}

main section .post div div {
  display: grid;
  align-content: space-between;
}

main section .post div div p:first-child {
  font-size: 1.1em;
}

/* >>> FOOTER <<< */

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

/* >>> MEDIA <<< */

@media (max-width: 900px) {
  body {
    margin: 2% 2% 0;
    display: grid;
    grid-template-areas: "aside"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
  }

  aside .social {
    margin: 2% 0;
  }

  main {
    display: grid;
  }

  main section>div {
    margin-top: 2%;
  }

  main section .allProjects {
    grid-template-columns: 1fr;
    row-gap: 3%;
  }
}